# --- NECTAR PROJECT IGNORE ---

# 1. Massive 3D Data & Outputs (CRITICAL)
projects/
workspace/
instance/

# 2. Python Virtual Environments
flask_env/
nectar_env/
venv/
env/
.env

# 3. Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. OS Specific Junk
.DS_Store
Thumbs.db